# git ignore files
*.pdf
Figures/*.pdf
__pycache__/*.pyc
plot_style.txt
plotting
Figures
src/__pycache__
data/*
!data/dataset_templates/
!data/dataset_templates/**/
!data/dataset_templates/**/*.json
# ignore long checkpoint files that cause Windows path length errors
results/ablation/subspacenet_ula_non-coherent/root-music/checkpoints/
